CONVERTER_WORKERS=2
CONVERTER_QUEUE_MAXSIZE=128
CONVERTER_ENQUEUE_TIMEOUT_SEC=2.0
CONVERTER_JOB_TIMEOUT_SEC=30.0
CONVERTER_JPEG_QUALITY=100
CONVERTER_MAX_UPLOAD_MB=50

API_CPUS=2.0
API_MEM_LIMIT=4g
UVICORN_WORKERS=2
UVICORN_BACKLOG=4096
UVICORN_TIMEOUT_KEEP_ALIVE=5

HEIC_FILE=/loadtest/assets/sample.heic
REQUEST_TIMEOUT_SEC=60
LOADTEST_BASE_URL=http://api:8000
